.LivePage_color{
    background-color: #ECD3FF;
    z-index: 2;
}
.LivePage_span{
    color: rgb(11, 11, 11);
    margin:0 10px;
    font-size: 11px;
    font-weight: 600;
}
#open
{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(57, 52, 52);
}
.LivePage_flex{
    display:flex;
    padding: 10px;
    border-bottom: 1px solid rgb(64, 58, 58);
    justify-content: space-between;
}
.LivePage_checkbox input{
    margin-left: 4vw;
    color: black;
}
.LivePage_cam{
    font-size: 12px;
    margin-left: 15px;
    font-family: 300;
}
#LivePage_outer_div{
    border-bottom: 1px solid rgb(57, 52, 52);
    width: 100%;
    height:265px;
}
.LivePage_inner_div{
    background-color: aliceblue;
    border-radius: 8px;
   margin:20px 25px;
}
.LivePage_info {
    padding: 10px;
}
.LivePage_info1 {
    padding: 10px;
    color: rgb(178, 7, 7);
    font-weight: 500;
}
.LivePage_title{
    font-size: 20px;
    background-color: #ECD3FF;
    padding: 10px 20px;
}